@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: 20px;
  height: 90vh; /* Set height to be the same as the viewport */
}


.turn-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  max-width: 100%;
  width: 400px;
  padding: 3%;
  border-radius: 10px;
  flex-direction: column;
}

.game-board {
  background-color: white;
  height: 400px;
  width: 400px;
  padding: 5px;
  margin: 5%;
  border-radius: 10px;
  display: flex;
}
