@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 10px;
  height: 100vh;
}


.turn-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  min-height: 20%;
  height: 150px;
  padding: 3%;
  border-radius: 10px;
  flex-direction: column;
  flex-shrink: 1;
}

.game-board {
  background-color: white;
  height: 380px;
  width: 380px;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  display: flex;
}

.level-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: green;
}

.level-button {
  background-color: #f0f0f0;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.level-button:hover {
  background-color: #e0e0e0;
}